<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="LOG_LEVEL" source="logging.level.root" defaultValue="INFO"/>

    <!-- Configuração para console com cores -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>
                %highlight(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg){FATAL=red, ERROR=red, WARN=yellow, INFO=cyan, DEBUG=blue, TRACE=black}%n%rEx{full}
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Nível de logging padrão -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Nível específico para sua aplicação (DEBUG para mais detalhes) -->
    <logger name="br.com.brain" level="DEBUG"/>

    <!-- Reduza verbosidade de bibliotecas externas -->
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework.security" level="INFO"/>
</configuration>
